{% extends "admin/change_form.html" %}
{% load static %}

{% block field_sets %}
    <div class="directory-server-actions"
         data-object-id="{{ original.pk|default_if_none:'' }}"
         data-test-url-template="{% url 'disclaimrwebadmin:directoryserver-test' 0 %}"
         data-attributes-url-template="{% url 'disclaimrwebadmin:directoryserver-attributes' 0 %}"
         data-flavor-defaults="{{ flavor_defaults }}">
        {% if original.pk %}
            <div class="directory-server-actions__buttons">
                <button type="button"
                        class="button directory-server-actions__test"
                        data-action="test">
                    Test connection
                </button>
                <button type="button"
                        class="button directory-server-actions__discover"
                        data-action="discover">
                    Discover attributes
                </button>
            </div>
            <div class="directory-server-actions__output" hidden></div>
        {% else %}
            <p class="directory-server-actions__hint">
                Save this directory server first to enable connection test and
                attribute discovery.
            </p>
        {% endif %}
    </div>
    {{ block.super }}
{% endblock %}
